.form{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 20px;
    margin: 3vw;
    border-radius: 10px;
}
.div{
    margin: 10px;
}
.button {
    margin: 10px;
    padding: 5px;
    background-color: brown;
    font-weight: bold;
    border-radius: 7px;
    width: 100px;
}