.ul {
  display: flex;
  list-style: none;
  width: 25vw;
  justify-content: space-between;
}
.li {
  border-bottom: 2px solid rgb(36, 15, 0);
  color: rgb(39, 18, 0);
  margin: 0 1vw;
  padding: 5px 10px;
  font-size: 20px;
  list-style: none;
  color: aqua;
  text-decoration: none;
}
.li a{
  color: rgb(39, 18, 0);
  text-decoration: none;
}
.li:hover {
  cursor: pointer;
}
